
.container {
        display: flex;
        justify-content: center;
        padding: 10px;
}
.dice1 {
        padding-bottom: 15px;
}
.dice2 {
        padding-bottom: 15px;
}
.dice3 {
        padding-bottom: 15px;
}
.dice { 
        text-align: left; 
        display: inline; 
        margin: 10px; 
        height: 100%;
        width: 100%;
} 
body { 
        background-image: url("../images/board.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0; 
} 
h1 { 
        margin: 10px; 
        color: white; 
        text-align: center; 
} 
h1#title { 
        margin: 15px; 
        font-family: "Lobster", cursive; 
        font-size: 35px;
        text-shadow: 5px 0 #232931; 
        color: white; 
        text-align: center; 
} 
img { 
        width: 40%; 
        height: 45%;
        padding: 5px;
        border-radius: 10px;
        background-color: yellow;
        box-shadow: 1px 1px white;
} 
.bottom { 
        padding-top: 30px; 
} 
.btn { 
        background: #0000ff; 
        border-radius: 10px; 
        color: #ffff; 
        font-size: 15px; 
        padding: 16px 25px 16px 25px; 
        text-decoration: none; 
} 
.table {

        width: 80%;
        margin: 5px;
        font-size: 20px;
}
td {
        color: #ffffff;
        text-align: center;
}
@keyframes hithere {
        30% { transform: scale(1.2); }
        40%, 60% { transform: rotate(-20deg) scale(1.2); }
        50% { transform: rotate(20deg) scale(1.2); }
        70% { transform: rotate(0deg) scale(1.2); }
        100% { transform: scale(1); }
}
@media (max-width: 575.98px) { 
        body {
                background-position: center;
                background-size: 700px 850px;
        }
        img {
                height: 40%;
                width: 43%;
                padding: 5px;
                border-radius: 10px;

        }
}
